@media screen {
    body { 
        background: #e0e0e0 
    }
   
    .sheet {
        background: white;
        box-shadow: 0 .5mm 2mm rgba(0,0,0,.3); 
        margin: 5mm auto;
    }
}

body { margin: 0 }.sheet-outer {
    margin: 0;
}.sheet {
    margin: 0;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    page-break-after: always;
}

.sheet-outer.A4 .sheet { 
    width: 210mm; 
    height: 296mm 
}

.sheet.padding-5mm { padding: 5mm }
/* .sheet.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
} */

@page {
    size: A4;
    margin: 0
}@media print {
    .sheet-outer.A4, .sheet-outer.A5.landscape { 
        width: 210mm 
    }
}

.text-center {
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* table {
    border-collapse: collapse;
} */

h1, h2, h3, h4, p {
    margin: 0;
}

.pdf-logo {
    width: 80px;
    display: block;
    margin: 0 auto;
}

